[Unit]
Description=extract top x processes for rpi-monitor

[Service]
Type=simple
ExecStart=/bin/sh -c 'while true; do cd /usr/share/rpimonitor/web/addons/top && ./top > top.html && sleep 60 || exit 1; done'

[Install]
WantedBy=multi-user.target
